* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

/* ...................  */

body {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin: 0 15%;
}

h1,
h2,
h3 {
  font-weight: 100;
}

/* HEADER  */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 30px;
  margin-bottom: 30px;
}

header h1 {
  font-size: 30px;
}

header li {
  margin-left: 10px;

  font-size: 15px;
}

.nav {
  display: flex;
}

/* HOVER */

a:hover {
  color: black;
  font-weight: 700;
  transition: all 0.15s ease-out;
}

/* MILLEU DE PAGE  */

.titre {
  font-size: 40px;

  margin-bottom: 20px;
}

.firstImage {
  height: 300px;
  width: 100%;
  object-fit: cover;

  border-radius: 8px;
}

/* SECTION */

section {
  display: flex;
  text-align: left;
  align-items: center;

  margin-bottom: 20px;
}

section h2 {
  font-size: 20px;

  padding: 10px;

  border: 3px solid grey;
}

section h3 {
  font-size: 20px;

  width: 30%;
  padding: 10px;
}

.para {
  flex-direction: column;
  text-align: start;
  align-items: flex-start;

  width: 50%;

  padding: 20px;
}

.read {
  margin-top: 10px;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: space-between;

  height: 250px;
  width: 100%;
}

.secondImage {
  object-fit: cover;
  width: 59%;
  border-radius: 10px;
}

.thirdImage {
  object-fit: cover;
  width: 39%;

  border-radius: 10px;
}
